<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" id="mergeModalHeader">
      <button type="button" class="close" ng-click="merge.hideModal()" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" translate>DASHBOARD.merge.title</h4>
    </div>
    <div class="modal-body">
      <div id="frame-div" class="modal-body">
        <iframe class="modal-body" id="iframeId" title="ARP AROMA" src="http://localhost:5173"></iframe>
      </div>
    </div>
    <div class="modal-footer actions">
      <div class="clear-save">
        <button ng-if="merge.elementMerge()" id="merge-modal-save-button" ng-click="merge.mergeResources();merge.hideModal()" type="button"
                class="btn btn-save confirm" translate>
          ARP.GENERIC.Merge
        </button>
      </div>
      <div class="clear-save">
        <button type="button" class="btn btn-clear" ng-click="merge.hideModal()" translate="">Cancel</button>
      </div>
    </div>
  </div>
</div>
