<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header" id="arpImportModalHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">ARP import</h4>
    </div>

    <div class="modal-body" style="display: flex;">
      <uib-tabset active="importStatus.active">
        <uib-tab index="0" heading="{{'ARP.resourceImport.uploadFiles' | translate}}">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions" style="text-align:left; border-right: 1px solid #ddd;">
                      Click the button below to select the files that will be imported into CEDAR.
                      <br>Accepted file types:
                      <ul>
                        <li>.json</li>
                        <li>.zip</li>
                        <li>folders</li>
                      </ul>
                      <div style="margin-top: 20px; text-align: center">
                        <label ng-if="isFileAndDirectoryUploadSupported" class="btn btn-save" for="resourcesInput"
                          style="cursor: pointer;">Select resources
                          <input id="resourcesInput" type="file" webkitdirectory multiple style="display: none;" />
                        </label>
                        <label ng-if="!isFileAndDirectoryUploadSupported" class="btn btn-save" for="filesInput"
                          style="cursor: pointer;">Select files
                          <input id="filesInput" type="file" multiple style="display: none;" />
                        </label>
                        <label ng-if="!isFileAndDirectoryUploadSupported" class="btn btn-save" for="folderInput"
                          style="margin-top: 10px; cursor: pointer;">Select folder
                          <input id="folderInput" type="file" webkitdirectory multiple style="display: none;" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <p style="text-align: center;">Drag and drop files below</p>
                <div id="jstree-valid">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="{{'ARP.resourceImport.conflictingFiles' | translate}}" disable="importStatus.conflictingFiles.length === 0">
          <uib-tabset active="importStatus.active">
            <div class="fileUpload">
              <div class="row">
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <div style="text-align:left; border-right: 1px solid #ddd;">
                        The following files are already present in the destination directory,
                        please choose a method to resolve the conflicts:
                        <div style="margin-top: 20px; display: flex; justify-content: center;">
                          <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                            <label class="btn btn-save" ng-click="arpimport.setConflictResolutionMethod('createCopy')"
                                   ng-class="{'conflict-resolution-method': arpimport.conflictResolutionMethod === 'createCopy', 'default-btn-bg': arpimport.conflictResolutionMethod !== 'createCopy'}"
                                   style="cursor: pointer; margin-bottom: 10px; width: 80%;">Create copy</label>
                            <label class="btn btn-save" ng-click="arpimport.setConflictResolutionMethod('replace')"
                                   ng-class="{'conflict-resolution-method': arpimport.conflictResolutionMethod === 'replace', 'default-btn-bg': arpimport.conflictResolutionMethod !== 'replace'}"
                                   style="cursor: pointer; margin-bottom: 10px; width: 80%;">Replace all</label>
                            <label class="btn btn-save" ng-click="arpimport.setConflictResolutionMethod('skip')"
                                   ng-class="{'conflict-resolution-method': arpimport.conflictResolutionMethod === 'skip', 'default-btn-bg': arpimport.conflictResolutionMethod !== 'skip'}"
                                   style="cursor: pointer; width: 80%;">Skip all</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div id="jstree-conflicting">
                  </div>
                </div>
              </div>
            </div>
          </uib-tabset>
        </uib-tab>
        <uib-tab index="2" heading="{{'ARP.resourceImport.invalidFiles' | translate}}" disable="importStatus.invalidFiles.length === 0">
        <uib-tabset active="importStatus.active">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions" style="text-align:left; border-right: 1px solid #ddd;">
                      The following files are not going to be uploaded.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div id="jstree-invalid">
                </div>
              </div>
            </div>
          </div>
        </uib-tabset>
      </uib-tab>

      </uib-tabset>
    </div>

    <!-- Validation messages -->
    <div ng-if="showValidation==true" style="color:red; margin: 20px">
      <span>Please correct the following errors and try again:</span>
      <ul>
        <li ng-repeat="message in validationMessages">
          {{message}}
        </li>
      </ul>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div style="display: flex;justify-content:space-between;align-items: center;">

        <div class="clear-save" style="width:100%">

          <button type="button" ng-click="arpimport.resetModal()"
            class="btn done btn-clear" translate>
            Reset
          </button>

          <button type="button" data-dismiss="modal" aria-label="Close" class="btn done btn-clear" translate>
            Close
          </button>

          <span ng-if="!importStatus.submitted">
            <div class="tooltip-wrapper" data-tooltip="Select a method to resolve conflicts."
              ng-class="{'disabled-button-wrapper': !arpimport.areAllConflictsResolved}">

              <button type="button" ng-click="arpimport.startImport()" 
                aria-label="Import" class="btn btn-save" translate
                ng-class="{'disabled-button': !arpimport.areAllConflictsResolved}">
                Import
              </button>
           </div>
          </span>

        </div>
      </div>
    </div>

  </div>
</div>